$container-max-width: 1920px;
$container-paddings-desktop: 40px;
$container-paddings-tablet: 30px;
$container-paddings-mobile: 20px;

$screen-desktop: 1200px;
$screen-tablet: 900px;
$screen-mobile: 500px;
