:export {
  fg-primary: $fg-primary;
  fg-secondary: $fg-secondary;
  bg-primary: $bg-primary;
  bg-secondary: $bg-secondary;
  accent: $accent;
  green: $green;
  violet: $violet;
  error: $error;
  skeleton: $skeleton;
}
