$linear-gradient: linear-gradient(90deg, #000 11.38%, #6f00fc 102.05%);
$left-diagonal-gradient: linear-gradient(
  to top,
  rgba(#7000ff, 0.77) 13.35%,
  rgba(#fa00ff, 0) 100%
);
$right-diagonal-gradient: linear-gradient(
  to bottom,
  $bg-primary 51.53%,
  #09006d 99.8%
);

.root {
  position: relative;
  z-index: 0;

  display: grid;

  grid-template-rows: max-content 1fr max-content;

  min-height: 100vh;

  overflow: hidden;

  background-color: $bg-primary;
}

.gradient {
  position: fixed;
  z-index: -1;

  width: 100vw;
  height: 100vh;

  &--type_linear {
    background: $linear-gradient;
  }

  &--type_diagonal {
    position: fixed;
    z-index: -1;

    width: 100vw;
    height: 100vh;

    background-image: $right-diagonal-gradient;

    .diagonal {
      display: grid;

      width: 100vw;
      max-width: $container-max-width;
      height: 100%;
      margin: 0 auto;

      &::after,
      &::before {
        background-color: $bg-primary;
        background-image: $left-diagonal-gradient;
      }

      &::before {
        $left-offset: calc(calc(100vw - 100%) / 2);

        content: '';

        position: relative;
        left: calc($left-offset * -1);

        grid-row: 1;
        grid-column: 1;

        width: $left-offset;
        height: 100%;

        pointer-events: none;
      }

      &::after {
        content: '';

        grid-row: 1;
        grid-column: 1;

        justify-self: center;

        width: 100%;
        height: 100%;

        clip-path: polygon(0 0, 0 100%, 100% 0);

        pointer-events: none;
      }
    }
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;

  width: 100%;
}

.main {
  padding: 88px 0 86px;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 1000;

  width: 100%;
}
