.root {
  @include container;
}

.minted-nfts {
  max-width: 1107px;
  padding: 50px 0 100px;
  margin: 0 auto;
}

.layout {
  display: grid;

  grid-template-columns: max-content 1fr;
}

.content {
  display: grid;

  min-width: max-content;
  margin: 0 71px 0 267px;
}
