.root {
  @include container;
}

.minted-nfts {
  max-width: 1107px;
  padding: 80px 0 135px;
  margin: 0 auto;
}

.layout {
  display: grid;

  grid-template-columns: max-content 1fr max-content;
}

.content {
  display: grid;

  width: 100%;
  min-width: max-content;
  max-width: 516px;
  margin: 0 71px 0 267px;
}
